/* :where(.css-dev-only-do-not-override-p8b6i).ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
background-color: #177e89;
border-radius: inherit;
} */
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-message {
    color: #3b6f9e;
    /* font-weight: 700; */
    /* font-size: 1rem; */
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-description {
    color: #3b6f9e;
    font-weight: 500;
    width: 83%;
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
    padding: 7px 20px 15px 20px !important;
    background-color: #cde9f6 !important;
    border-radius: 15px !important;
    border: solid 2px #9ec1d1 !important;
}

.ant-notification-topRight.ant-notification-stack>.ant-notification-notice-wrapper {
    border-radius: 15px;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon {

    margin-top: -2px;
    margin-left: -15px;
}